/* Body & font */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header verfijning */
header h5 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

/* Paarse merk-kleur */
.text-primary {
  color: #a621aa !important;
}


.btn-primary {
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #a621aa;
}

/* Zwarte projectknop met paarse hover */
.btn-project {
  background-color: #000; /* zwart */
  color: #fff;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}


/* Hover effect voor donkere Log in knop */
.btn-dark:hover {
  background-color: #a621aa; 
  border-color: #a621aa;     
  color: #fff;               
  transition: all 0.3s ease;
}


.btn-project:hover {
  background-color: #a621aa; /* paars */
  color: #fff;
}

/* Cards verfijnen */
.card {
  border-radius: 12px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Afbeeldingen consistenter maken */
.card-img-top {
  height: 180px;
  object-fit: cover;
}
